<img src="https://s3.amazonaws.com/myfangate.com/ava/tear.svg" width="100%">
<footer>
  <div class="container">
    <a href="https://www.facebook.com/angelsandairwaves" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="https://twitter.com/AVABandOfficial" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="http://instagram.com/angelsandairwaves" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="http://www.altpress.com/" target="_blank"><img src="https://s3.amazonaws.com/myfangate.com/ava/APLOGO.png" width="150px"></a>
  </div>
</footer>
